# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Environment variables
.env

# Chroma vector database
chroma_db/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Build files
dist/
build/
*.egg-info/